.rating {
    unicode-bidi: bidi-override;
    content: "★★★★★";
    font-size: 2rem;
    color: #c0c0c0;
    margin-top: 0.5rem;
}

.star {
    font-size: 2rem;
    color: #ffcc00;
    line-height: 1;
    display: inline-block;
}

.star.active,
.star:hover {
    color: #ff9900;
}

.product-image {
    width: 100%;
    /* İçeriği tam genişlikte ayarlamak için */
    height: auto;
    /* Oranları koruyarak yüksekliği otomatik ayarlamak için */
    max-width: 300px;
    max-height: 300px;
    /* İstediğiniz maksimum yüksekliği belirlemek için */
    object-fit: cover;
    /* Resmi tamamen kaplamak ve oranları korumak için */
}



.card {
    width: 380px;
    border: none;
    height: 280px;
}

.ratings {
    margin-right: 10px;
}

.ratings i {

    color: #cecece;
    font-size: 32px;
}

.rating-color {
    color: #fbc634 !important;
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px !important;
}

.small-ratings i {
    color: #cecece;
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px;
}

.rating {
    display: flex;
    flex-direction: column;
}

.star-rating {
    font-size: 2em;
    color: #ffc107;
}

.custom-rating {
    font-size: 48px;
    display: inline-block;
    cursor: pointer;
}

.frame {
    border: 1px solid white;
    padding: 15px;
    /* İçeriği çerçeveden ayırmak için opsiyonel */
    border-radius: 5px;
    /* Opsiyonel: Köşeleri yuvarlamak için */
}
/* star-rating.component.css */
.star-rating {
    font-size: 24px;
    color: #fbc634; /* Dolu yıldız rengi */
  }
  .custom-progress {
    width: 300px; /* 200px genişlik */
    margin-left: auto; /* En sağa yasla */
}
.left-border {
    border-left: 2px solid #000; /* İstenen sol kenarlık kalınlığı ve rengi */
    padding-left: 10px; /* Opsiyonel: İçerik ile kenarlık arasına boşluk bırakmak için */
}

