<div class="modal-header">
  <h1 class="modal-title fs-5">Giriş</h1>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="username">Kullanıcı Adı:</label>
      <input type="text" class="form-control" id="username" (ngModel)="username" name="username" required>
    </div>

    <div class="form-group">
      <label for="password">Şifre:</label>
      <input type="password" class="form-control" id="password" (ngModel)="password" name="password" required>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Vazgeç</button>
  <button type="button" class="btn btn-success" (click)="login()">Giriş Yap</button>
</div>